.legend {
  text-align: center;
  min-height: 70px;
  border-top: 1px solid #bbb;

  .imgWrapper {
    width: 315px;
    display: inline-block;
  }

  .switchWrapper {
    position: relative;
    display: inline-block;
    top: -15px;
  }

  .showMeh {
    display: inline-block;
  }
  .hideMeh {
    display: none;
  }
  img {
    height: 70px;
  }
  .layerLabel {
    display: inline;
  }
  .description {
    float: right;
    top: 3px;
    right: 2px;
  }
}

.legendPopoverTitle {
  font-weight: bold;
}
