.legend {
  text-align: center;
  min-height: 20px;
  border-top: 1px solid #bbb;

  .imgWrapper {
    width: 315px;
    display: inline-block;

    img {
      max-width: 310px;
      max-height: 80px;
    }
  }

  .switchWrapper {
    position: relative;
    display: inline-block;
    top: -15px;
  }

  .showMeh {
    display: inline-block;
  }

  .hideMeh {
    display: none;
  }

  .layerLabel {
    display: inline-block;
    word-wrap: break-word;
    max-width: 315px;
  }

  .description {
    float: right;
    top: 3px;
    right: 2px;
  }
}

.legendPopoverTitle {
  font-weight: bold;
}

.ant-popover-inner {
  min-width: 200px;
}
