.timeSlider {
  color: white;
  background-color: rgba(50, 50, 50, 0.8);
  border-radius: 5px;
  padding: 20px;
  padding-bottom: 5px;
  text-align: center;

  .reactSliderContainer {
    width: 100%;
    padding-left: 40px;
  }
  .rc-tooltip-inner {
    z-index: 100;
  }

  .glyphicon {
    margin-top: -10px;
    left: -10px;
    font-size: 20px;
    float: left;
    width: 40px;

    &:hover {
      cursor: pointer;
    }
  }
}
